.footer {
  color: black
  font-family: 'Raleway', Raleway, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  line-height: .8;
  font-weight: 900;
/*  position: absolute;
  margin-top: 10px;
  bottom: 0;*/

}

h1#window-size {
  text-align: center;
}


/*  WIDTH > 768px; #container = green */
@media all and (min-width: 768px) {
  #container {
    background-color: green;
    width: 200px;
    height: 200px;

  }
}

/*  WIDTH > 1024px; #container = yellow */
@media all and (min-width: 1024px) {
  #container {
    background-color: yellow;
  }
}




/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

body {
  font-family: 'Raleway', Raleway, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #111111;
  line-height: 1.4;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  line-height: .8;
  font-weight: 900;
}
.job-title {
   text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  line-height: .8;
  font-weight: 900;
}

h2, h3, h4, h5, h6 {
  font-weight: 900;
}

header {
  background-image: url('https://i.imgur.com/LIOBDHj.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 14% 0 23% 0;
  position: relative;
  background-size: cover;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  font-size: 1.25em;
  text-transform: lowercase;
  text-align: center;
  color: #222222;
}

nav a {
  display: inline-block;
  margin: .5em 2%;
  padding-bottom: .125em;
}

nav a:hover, nav a.current {
  border-bottom: 1px solid;
}

#mobile {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 50%;
/*  border: 1px solid;*/
}

#dancer {
  width: 70%;
}

#foodie {
  width: 140%;
}

#nashville {
  width: 110%;
  margin-left: 30px;
}

#cyclist {
  margin-left: 40px;
}

#world {
  width: 40%;
}

td {
  text-align: center;
font-weight: bold;

}

table {
/*  position: absolute;*/
  justify-content: center;
}

.thumbnail {
  width: 31.3333%;
  float: left;
  margin: 1%;
  display: block;
}

.thumbnail:hover {
  opacity: .9;
  filter: alpha(opacity=90);
}

section {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

body > footer {
  clear: both;
  background-color: #dddddd;
  margin: 0;
  padding: 1% 2%;
  position: absolute;
  bottom: 0;
  height: 50px;
}

body > footer p {
  display: inline-block;
}

body > footer #social {
  float: right;
  color: #444;
}

body > footer #social a {
  margin-left: .5em;
  color: black;
}

textarea {
  line-height: 1.4;
}


/*-------------------
  Home page
--------------------*/

.home section {
  padding: 1%;
  overflow: hidden;
}




@media only screen and (min-width: 1800px) {
  body {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    font-size: 30px;
  }

  .thumbnail {
    width: 23%;
  }
}

@media only screen and (max-width: 1000px) {
  .thumbnail {
    width: 48%;
  }
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 16px;
  }

  header {
    position: relative;
    height: 15em;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  h1 {
    position: absolute;
    font-size: 2em;
    top: 0;
    left: .5em;
  }

  nav {
    text-align: right;
    font-size: 1em;
  }

  nav a {
    display: none;
    font-size: 1.25em;
    padding-right: 1em;
  }

  nav a:hover, nav a.current {
    border-bottom: none;
  }

  #mobile {
    font-size: 2em;
    margin: .75em;
    display: block;
    padding-right: 0;
  }

  .thumbnail {
    width: 98%;
  }

  body > footer p {
    display: block;
    text-align: center;
  }

  body > footer #social {
    float: none;
  }
}
